.members-hero {
   background-color: #f4f4f4;
   .hero__circle {
      translate: -30% -30%;
   }
   &__wrapper {
      padding-top: 40px;
      padding-bottom: 64px;
      display: flex;
      margin-right: -100px;
   }

   &__main {
      flex: 0 1 849px;
      display: flex;
      flex-direction: column;
      gap: 56px;
      font-family: $tenorFont;
   }

   &__title {
      font-size: 65px;
      line-height: calc(78 / 65);
      letter-spacing: -0.02em;
      position: relative;
      &::after {
         content: "";
         display: block;
         width: 330px;
         height: 22px;
         background: url(../img/icons/border.svg) center / cover no-repeat;
         position: absolute;
         top: 100%;
         left: 50%;
         translate: -50% 15px;
         @media (max-width: $tablet) {
            width: 170px;
            height: 12px;
         }
      }
   }

   &__subtitle {
      font-size: 45px;
      line-height: calc(54 / 45);
      letter-spacing: -0.02em;
   }

   &__video {
   }
   @media (max-width: 1600px) {
      &__wrapper {
         margin-right: 0;
         gap: 12px;
      }
   }
   @media (max-width: $desktop) {
      &__video {
         flex: 0 0 calc(400px + 215 * ((100vw - 1024px) / (1440 - 1024)));
         iframe,
         &::after {
            width: calc(400px + 215 * ((100vw - 1024px) / (1440 - 1024)));
         }
      }
   }
   @media (max-width: $tablet) {
      &__wrapper {
         flex-direction: column;
         gap: 32px;
         padding-bottom: 0;
         padding-top: 26px;
      }
      &__main {
         flex: unset;
         gap: 38px;
      }
      &__title {
         font-size: 30px;
      }
      &__subtitle {
         font-size: 20px;
      }
      &__video {
         flex: unset;
         iframe {
            width: 100vw;
            margin-left: -10px;
            margin-right: -10px;
            border-radius: 0;
         }
         &::after {
            display: none;
         }
      }
   }
}
