.footer {
   overflow: hidden;
   background-color: #f4f4f4;
   padding-top: 74px;
   padding-bottom: 81px;
   &__wrapper {
      max-width: 1020px;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
   }

   &__upper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      font-family: $tenorFont;
      text-transform: uppercase;
      font-size: 35px;
      line-height: calc(38 / 35);
      letter-spacing: -0.04em;
      text-align: center;
   }

   &__list {
      margin-top: 30px;
      margin-bottom: 25px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
   }
   &__down {
      margin-top: 50px;
      display: flex;
      align-items: center;
      gap: 23px;
      flex-direction: column;
   }
   &__logo {
      width: 177px;
      display: flex;
   }
   &__grid {
      padding-top: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      &::before {
         content: "";
         display: block;
         width: calc(100% + 100px);
         top: 0;
         left: -50px;
         height: 1px;
         background-color: #aaaaaa;
         position: absolute;
      }
   }

   &__links {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   &__link {
      color: $primaryColor;
      font-size: 16px;
      line-height: calc(22 / 16);
      letter-spacing: -0.02em;
      transition: 0.3s;
      border-bottom: 1px solid transparent;
      &:hover {
         color: $goldColor;
         border-color: $goldColor;
      }
   }
   &__icon {
      width: 28px;
      height: 28px;
      flex: 0 0 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $goldColor;
   }
   &__media {
      display: flex;
      flex-direction: column;
      gap: 15px;
      img {
         width: unset;
         height: unset;
      }
      a {
         display: flex;
         align-items: center;
         gap: 16px;
         font-size: 18px;
         letter-spacing: -0.02em;
         color: $primaryColor;
         &:hover {
            span {
               border-color: $goldColor;
               color: $goldColor;
            }
         }
      }
      span {
         border-bottom: 1px solid transparent;
         transition: 0.3s;
      }
   }

   &__icons {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
   }

   &__docs {
      display: flex;
      flex-direction: column;
      gap: 11px;
      a {
         color: $primaryColor;
         font-size: 14px;
         line-height: calc(22 / 16);
         letter-spacing: -0.02em;
         transition: 0.3s;
         border-bottom: 1px solid transparent;
         &:hover {
            color: $goldColor;
            border-color: $goldColor;
         }
      }
   }
   @media (max-width: $tablet) {
      padding-top: 35px;
      padding-bottom: 31px;
      &__title {
         font-size: 20px;
         text-align: left;
         width: 100%;
      }
      &__list {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      &__grid {
         flex-direction: column;
         max-width: 164px;
         margin: 0 auto;
         gap: 36px;
         white-space: nowrap;
      }
      &__media {
         gap: 20px;
         order: 1;
         flex-direction: row;
         span {
            display: none;
         }
      }
      &__icons {
         margin: 0;
         gap: 20px;
      }
      &__links {
         order: 2;
         padding-left: 30px;
      }
      &__docs {
         order: 3;
         a {
            font-size: 12px;
         }
      }
      &__link {
         font-size: 12px;
      }
      &__logo {
         width: 183px;
      }
   }
}
.footer-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 7px;
   &__upper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      position: relative;
      padding-bottom: 7px;
      &::after {
         content: "";
         display: block;
         width: 100px;
         height: 1px;
         background-color: $goldColor;
         position: absolute;
         top: 100%;
         left: 50%;
         translate: -50%;
      }
      img {
         width: 45px;
         height: 45px;
         flex: 0 0 45px;
      }
      span {
         font-family: $tenorFont;
         font-size: 14px;
         line-height: calc(17 / 14);
         letter-spacing: -0.02em;
         text-align: center;
      }
   }
   p {
      font-size: 14px;
      line-height: calc(17 / 14);
      letter-spacing: -0.02em;
      text-align: center;
   }
   @media (max-width: $tablet) {
      max-width: 150px;
      &__upper {
         img {
            width: 28px;
            height: 28px;
            flex: 0 0 28px;
         }
         span {
            font-size: 14px;
         }
      }
      p {
         font-size: 12px;
      }
   }
}

.footer-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   width: 100%;
   &__row {
      display: flex;
      gap: 24px;
      width: 100%;
      padding-bottom: 34px;
      position: relative;
      &::after {
         content: "";
         display: block;
         width: 75%;
         height: 1px;
         background-color: $goldColor;
         position: absolute;
         top: 100%;
         left: 50%;
         translate: -50%;
      }
      input {
         flex: 1;
         border-radius: 20px;
         border: 1px solid $primaryColor;
         padding-left: 16px;
         padding-right: 16px;
         height: 56px;
         letter-spacing: -0.02em;
         font-size: 18px;
         color: $primaryColor;
         &::placeholder {
            color: #b9b9b9;
         }
      }
      button {
         flex: 0 0 317px;
         background-color: $primaryColor;
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: $tenorFont;
         font-size: 16px;
         font-weight: 400;
         letter-spacing: -0.02em;
         border-radius: 40px;
         height: 56px;
      }
   }
   p {
      font-size: 12px;
      line-height: calc(17 / 12);
      letter-spacing: -0.02em;
      text-align: center;
      color: $primaryColor;
      span,
      a {
         color: $primaryColor;

         font-weight: 600;
      }
   }
   @media (max-width: $tablet) {
      &__row {
         flex-direction: column;
         gap: 16px;
         align-items: center;
         padding-bottom: 22px;
         &::after {
            width: calc(100% - 64px);
         }
         input {
            flex: unset;
            width: 100%;
            height: 46px;
            font-size: 10px;
         }
         button {
            flex: unset;
            width: calc(100% - 64px);
         }
      }
      p {
         font-size: 8px;
      }
   }
}
