.container {
   max-width: 1357px;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0 auto;
}
.wrapper {
   font-family: $manropeFont;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.main {
   flex: 1;
   padding-top: 72px;
   @media (max-width: $tablet) {
      padding-top: 52px;
   }
}
.btn {
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding-left: 27px;
   padding-right: 27px;
   border-radius: 52px;
   border: 1px solid transparent;
   transition: 0.3s;
   &:hover {
      .btn__arrow {
         rotate: 25deg;
      }
   }
   &_dark {
      background-color: $primaryColor;
      color: white;
      &:hover {
         border-color: $primaryColor;
         color: $primaryColor;
         background-color: transparent;
      }
   }

   &_light {
      border-color: $primaryColor;
      color: $primaryColor;
      &:hover {
         background-color: $primaryColor;
         color: white;
      }
   }

   &__arrow {
      transition: 0.3s;
      width: 28px;
      height: 28px;
      flex: 0 0 28px;
      border-radius: 50%;
      background-color: #decfa4;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid $greyColor;
   }
}

.hero {
   position: relative;
   overflow: hidden;
   &__container {
      position: relative;
      z-index: 2;
   }
   &__circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 526px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #efe8da;
      border-radius: 50%;
      img {
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
         width: unset;
         height: unset;
         object-fit: unset;
      }
   }

   &__pattern {
   }
   @media (max-width: 1440px) {
      &__circle {
         width: calc(300px + 226 * ((100vw - 1024px) / (1440 - 1024)));
      }
   }
   @media (max-width: $tablet) {
      &__circle {
         width: 204px;
         img {
            max-width: 100%;
         }
      }
   }
}
.h1 {
   font-family: $tenorFont;
   font-size: 95px;
   line-height: calc(133 / 95);
   letter-spacing: -0.02em;
   @media (max-width: $tablet) {
      font-size: 40px;
   }
}
